.cssTask{
    background-color: rgb(184, 180, 180);
    margin: 10px;
    padding: 10px 20px;
}

.cssButton{
    margin-left: 70%;
    font-size: 15px;
    border: none;
    color: rgb(255, 0, 0);
    cursor: pointer;
  /* line-height: 50px; */
  /* text-align: center; */
  width: 12px;
  /* height: 50px; */
  background: none;
}
.css:active { /* cuando se toque va hacer una animacion de click  */
    transform: scale(0.8); 
}
